:root {
    --toxic-green: rgb(39, 235, 13);
    --light-green: rgb(128, 253, 97);
}

.head-wrapper {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
.i-am {
    color: orange;
}
.port-wrapper {
    display: inline-flex;
    width: calc((1rem / 1.5) * 9);
}
.letters {
    color: var(--toxic-green);
    font-weight: bold;
}
h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 1.2rem 0 0.8rem 0;
}
table, th, td {
    border: .5px solid rgb(240, 230, 176);
}
table {
    color: white;
    margin: 0 auto 0.35rem auto;
    border-radius: 5px;
}
th, td {
    padding: calc(2.5px + 0.75vw);
}
th:first-child {
    border-top-left-radius: 5px;
}
th:last-child {
    border-top-right-radius: 5px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
td:first-child::first-letter {
    padding-left: 0.3rem;
}
.links {
    text-align: center;
}
a {
    color: var(--toxic-green);
    text-decoration-skip-ink: all;
}
a:hover {
    color: var(--light-green);
}
a:hover img, a:hover p {
    border-radius: 15px;
    box-shadow: 0 0 calc(1rem / 2) calc(1rem / 3) var(--light-green);
}
a:hover p {
    color: black;
    background-color: var(--light-green);
}
.links img {
    max-width: 100%;
}
.links p {
    text-align: center;
}
.several-items a {
    display: block;
    margin-bottom: 10px;
}
#rbs {
    border-radius: 50%;
}
#brain {
    border-radius: 12px;
}
a:hover #earth {
    border-radius: 50%;
}
.skills {
    color: orange;
}
.skills::first-letter {
    padding-left: 0.8rem;
}
.tel-wrapper, .nick-tg, .e-mail, .linkedin {
    color: rgb(252, 252, 245);
    text-align: center;
    margin-bottom: 3px;
}
.tel {
    letter-spacing: calc(1px + .05vw);
    margin-bottom: 2px;
}
.messengers {
    display: inline-flex;
}
.messengers div {
    margin-left: 7px;
}
.messengers img {
    height: calc(19px + 1.8vw);
    max-height: 41px;
    border-radius: 9px;
    margin: 0 3px;
}

@media (min-width: 576px) {
    td {
        padding: 7px calc(7px + .5vw);
    }
    td:first-child::first-letter {
        padding-left: 0.8rem;
    }
    .links { width: 25%; }
}