* {
    box-sizing: border-box;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.2;
    font-size: clamp(14.5px, calc(10.5px + 1.25vw), 25px);
}
body {
    margin: 15px 8px;
    background-color: black;
}
p {
    margin: 0;
}
table {
    text-indent: 0;
}

@media(min-width: 768px) {
    body {margin: 15px 5%;}
}