body {
    background-color: black;
    font-size: calc(10px + 1.8vw);
}
.head-wrapper {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
.i-am {
    color: orange;
}
.port-wrapper {
    display: inline-flex;
    width: 110px;
}
.letters {
    color: rgb(39, 235, 13);
    font-weight: bold;
}
h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}
table, th, td {
    border: .5px solid rgb(240, 230, 176);
}
table {
    color: white;
    margin: 0 auto;
    border-radius: 5px;
}
td {
    padding: calc(1px + 0.7vw);
}
th:first-child {
    border-top-left-radius: 5px;
}
th:last-child {
    border-top-right-radius: 5px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.links {
    text-align: center;
}
a {
    color: rgb(39, 235, 13);
}
.links img {
    max-width: 100%;
}
.iq-test {
    display: block;
    margin-bottom: 10px;
}
#brain {
    border-radius: 12px;
}
.skills {
    color: orange;
}
.tel-wrapper, .nick-tg, .e-mail, .linkedin {
    color: rgb(252, 252, 245);
    text-align: center;
}
.messengers {
    display: inline-flex;
}
.messengers div {
    margin-left: 7px;
}
.messengers img {
    height: calc(19px + 1.8vw);
    max-height: 41px;
    border-radius: 9px;
    margin: 0 3px;
}

@media(min-width: 576px) {
    body {font-size: 21px;}
    td {padding: 7px 10px;}
    .links {width: 25%;}
}
@media(min-width: 768px) {
    body {
        font-size: 22.5px;
        margin: 10px 5%;
    }
}
@media(min-width: 992px) {
    body {font-size: 24.5px;}
    .tel {letter-spacing: 2.5px;}
}